<!DOCTYPE html>
<html>
  <head>
    <title>CloudCubeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?

            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a> <%= link_to "Sign out",destroy_user_session_path, :method => :delete, class: "btn btn-danger" %></a></li>
            
            </ul>

    </div>
 
  <% else %>
  
  <% end %>
</div>
 
</div>
  


    <%= yield %>

</body> 
</html>


<footer class="row">
<div class="pull-right">
    <p class=" ">Powered by: <a
            href="#">Chhatrapati Technologies LLP</a></p>
            </div>
  </footer>